@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue-dark-mode-elements: hsl(209, 23%, 22%);
    --very-dark-blue-dark-mode-background: hsl(207, 26%, 17%);
    --very-dark-blue-light-mode-text: hsl(200, 15%, 8%);
    --dark-gray-light-mode-input: hsl(0, 0%, 52%);
    --very-light-gray-light-mode-background: hsl(0, 0%, 98%);
    --white-dark-mode-text-light-mode-elements: hsl(0, 0%, 100%);
}
  

body {
    font-family: "Nunito Sans", sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    background-color: var(--very-light-gray-light-mode-background);
    color: var(--very-dark-blue-light-mode-text);
    transition: 0.1s ease-in-out;
}

nav {
    width: 100%;
    height: 80px;
    background-color: var(--white-dark-mode-text-light-mode-elements);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

nav h1 {
    font-weight: 800;
}

.theme-toggle-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.theme-toggle-area p {
    font-weight: 600;
}

.flags-section {
    display: flex;
    gap: 75px;
    flex-wrap: wrap;
    padding: 0 79px 48px;
    flex-wrap: wrap;
}

.flag-section {
    background-color: white;
    border-radius: 8px;
    width: 264px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.flag-img {
    width: 264px;
    height: 160px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.flag-text {
    padding: 22px 24px 42px;
    font-size: 14px;
}

.name {
    font-weight: 800;
    font-size: 18px;
}

.population-line, .region-line, .capital-line {
    font-weight: 600;
    margin-top: 5px;
}

.population-line {
    margin-top: 15px;
}

.population, .region, .capital {
    font-weight: 300;
}

.details {
    margin-top: 80px;
    display: flex;
    gap: 116px;
    width: 100%;
}

.flag-section:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.flag-detail-section {
    height: 100vh;
    padding: 80px 80px;
    background-color: var(--very-light-gray-light-mode-background);
    display: none;
}

.flag-detail-img {
    width: 560px;
    height: 401px;
}

.detail-name {
    font-size: 35px;
    margin-top: 35px;
}

.back-btn {
    width: 136px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-dark-mode-text-light-mode-elements);
    gap: 12px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.back-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.back-btn p {
    font-weight: 300;
}

.list-section {
    margin-top: 22px;
    display: flex;
    align-content: center;
    gap: 110px;
}

.detail-line {
    margin-top: 11px;
    font-weight: 600;
}

.data {
    font-weight: 300;
}

.input-section {
    width: 480px;
    position: relative;
    margin: 48px 0px;
    color: var(--dark-gray-light-mode-input);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.input-section i {
    position: absolute;
    top: 19px;
    left: 32px;
}

.search-input {
    font-size: 15px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    padding-left: 73px;
    height: 56px;
    width: 480px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.placeholder-light::placeholder {
    color: var(--dark-gray-light-mode-input);
}

.placeholder-dark::placeholder {
    color: var(--white-dark-mode-text-light-mode-elements); 
}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    position: relative;
} 

.filter-section {
    font-size: 15px;
    width: 200px;
    height: 56px;
    background-color: var(--white-dark-mode-text-light-mode-elements);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.filter-options {
    border-radius: 8px;
    font-size: 15px;
    font-weight: 300;
    display: none;
    position: absolute;
    top: 109px;
    right: 80px;
    width: 200px;
    height: 200px;
    padding: 18px 24px;
    background-color: var(--white-dark-mode-text-light-mode-elements);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.filter-list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-list li {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.filter-list li:hover {
    font-weight: 600;
}

.border-countries-section {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.border-text {
    font-weight: 600;
}

.border-country {
    font-weight: 300;
    font-size: 15px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 0 27px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.border-country:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

@media screen and (max-width: 1438px) {
    .flags-section {
        justify-content: center;
        gap: 80px;
    }
}

@media screen and (max-width: 1300px) {
    .list-section {
        gap: 50px;
    }
    .details {
        gap: 60px;
    }
    .flag-detail-section {
        height: auto;
    }
}

@media screen and (max-width: 1200px) {
    .list-section {
        flex-direction: column;
        gap: 0;
    }
    .detail-name {
        margin-top: 0;
    }
    nav {
        padding: 10px 45px;
    }
    .input-area {
        padding: 0 45px;
    }
    .flags-section {
        padding: 0 45px 45px;
        gap: 40px;
    }
    .flag-detail-section {
        padding: 80px 45px;
    }
    .border-countries-section {
        margin-top: 25px;
    }
    .filter-options {
        right: 45px;
    }
}


@media screen and (max-width: 962px) {
    .details {
        flex-direction: column;
        margin-top: 50px;
    }
    .flag-detail-section {
        padding: 48px 45px 100px;
    }
    .flag-detail-img {
        margin: 0 auto; 
    }
    .flag-detail-text-section {
        text-align: center;
        padding: 0 50px;
    }

    .list-section {
        flex-direction: row;
        gap: 60px;
        justify-content: center;
    }
    .border-countries-section {
        margin-top: 60px;
        justify-content: center;
    }
    .search-input, .input-section {
        width: 300px;
    }
}

@media screen and (max-width: 961px) {
    .flags-section {
        gap: 80px;
    }
}

@media screen and (max-width: 700px) {
    .filter-section {
        width: 170px;
    }
    .flags-section {
        gap: 30px;
    }
}

@media screen and (max-width: 650px) {
    .flag-detail-img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 647px) {
    .input-area {
        flex-direction: column;
        align-items: flex-start;
    }
    .input-section {
        margin: 40px 0;
    }
    .filter-section {
        margin-bottom: 64px;
        width: 200px;
    }
    .filter-options {
        top: 196px;
        left: 45px;
    }
    .flag-detail-text-section {
        padding: 0;
    }
    .flag-section {
        width: 90%;
    }
    .flag-img {
        width: 100%;
        height: 250px;
    }
    .input-section, .search-input {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .flag-section {
        width: 100%;
    }
    .flag-img {
        width: 100%;
        height: 250px;
    }
    nav {
        padding: 10px 28px;
    }
    nav h1 {
        font-size: 20px;
    }
    .input-area {
        padding: 0 28px;
    }
    .theme-toggle-area {
        font-size: 14px;
    }
    .detail-name {
        font-size: 28px;
    }
    .list-section {
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }
    .flag-detail-text-section {
        text-align: left;
    }
    .border-countries-section {
        justify-content: flex-start;
    }
    .filter-options {
        left: 28px;
    }
}

@media screen and (max-width: 480px) {
    .flag-img {
        height: auto;
    }
    .input-section {
        margin: 28px 0;
    }
    .filter-section {
        margin-bottom: 40px;
    }
    .filter-options {
        top: 174px;
    }
    nav h1 {
        font-size: 18px;
    }
    .flag-detail-section {
        padding: 28px 28px 100px;
    }
}
